body {
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  
}

.container-fluid.display-flex, .navbar-brand.display-flex {
  display: flex;
  justify-content: center;
}

.navbar-brand img {
  margin-right: 10px;
}


div {
  padding: 10px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-container {
  padding-top: 100px;
}